* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: white;
}
.p-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
}

.row-p {
    display: grid; /* Gebruik een grid-layout */
    grid-template-columns: 1fr 1fr; /* Twee kolommen met gelijke breedte */
    align-items: center;
    gap : 4rem
}
.smallcategorietekst {
    color: #2776EA;
    font-weight: bold;
}
.col-2 {
    padding-right: 20px;
}
.col-2 img {
    width: 100%; /* Pas de breedte van de afbeelding aan */
}

.row {
    display: grid; /* kolommen in één rij  */
    grid-template-columns: auto auto;
    align-items: center;
    flex-wrap: wrap; /*  kolommen nieuwe rij  niet in de container passen */
    justify-content: space-around;
    gap: 3rem
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 2rem;
    box-sizing: border-box; /* padding en randen binnen de 25% breedte vallen */
    text-align: center; /* Centreer  inhoud binnen de kolom */
}

.col-4 h4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 1.5rem;
    box-sizing: border-box; /* padding en randen binnen de 25% breedte vallen */
    text-align: center; /* Centreer  inhoud binnen de kolom */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.col-4 img {
    width: 100%;
    height: 200px; /*  gewenste hoogte img */
    object-fit: contain; /* beeldverhouding en bedek de volledige ruimte */
}

.title {
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #2776EA ;
    font-size: 40px;
}

.pro-desc-title {
    color: #2776EA ;
    font-size: 40px;
}

.pro-desc {
    font-size: 17px;
}

.product-info h4 {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.col-4 p {
    font-size: 1.2rem;
}
.col-4 h4{
    font-size: 20px;
}
.klantreviews .fa {
    color: #2776EA;
}
.pagina-btn{
    margin: 0 auto 80px;
}
.pagina-btn span{
    display: inline-block;
    border: 1px solid #2776EA;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.product-info {
    overflow: hidden; /* Voorkomt dat inhoud uit de container stroomt */
    padding-bottom: 20px; /* Voeg extra ruimte onderaan de container toe */
    width: 100%;
    border-radius: 4px;
    padding: 15px;
    background-color: #F7F7F7;
}

.button-winkelwagen {
    background-color: #2776EA;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 10px; /* Verhoog de bovenmarge van de knop */
}

.button-winkelwagen:hover {
    background-color: transparent;
    border: 2px solid #2776EA;
    cursor: pointer;
    color: black;
}

/* recenties start */

.box {
    width: 100%;
    border-radius: 4px;
    padding: 15px;
    background-color: #F7F7F7;
    margin-bottom: 40px;
}

.tekstfield {
    width: 100%;
    border-radius: 4px;
    padding: 15px;
    background-color: #F7F7F7;
    margin-bottom: 40px;
}

.review .evenly{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.review h2 {
    font-size: 25px;
    margin-top: 5px;
}

.review h4, p {
    font-size: 17px;
    margin-top: 10px; /* Vergroot de afstand boven de h3 */;
}

.review .behulpzaam {
    font-size: 17px;
    margin-top: 10px; /* Vergroot de afstand boven de h3 */
    display: flex;
    gap: 1rem;
}

.readmore {
    display: flex;
    justify-content: center;
}

/* recenties end */

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    gap: 3rem;
}

.dot {
    height: 22px;
    width: 22px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
}

.voorraad {
    display: flex;
    align-items: center;
}

.left-space {
    margin-left: 2rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}