* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F4;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    margin-bottom: 2rem;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.highlights {
    margin-bottom: 1rem;
}

.banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 3px;
}

.boxes {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.button-winkelwagen { /* Button van productpagina */
    background-color: #2776EA;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px; /* Verhoog de bovenmarge van de knop */
}

.button-winkelwagen:hover { /* Hover effect van productpagina */
    background-color: transparent;
    border: 2px solid #2776EA;
    cursor: pointer;
    color: black;
}