* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    margin-bottom: 4rem;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.highlights > .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 3 equal-sized columns */
    gap: 2rem;
}
.highlights > .title {
    margin-bottom: 1rem;
}

.product {
    text-decoration: none;
    color: black;

    display: grid;
    grid-template-rows: 1fr 3fr auto;
    gap: 1rem;
}
.product > img {
    width: 100%;
    height: 229px;
    object-fit: contain;
}
.product > .price-tag {
    justify-self: end;
    width: min-content;
    background-color: #2776ea;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 15px;
    font-size: 1.3rem;
}

.banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 3px;
}

.small-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.boxes {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
