* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.image-container {
    margin-left: 20px;
    width: 150px; /*  breedte  */
    height: auto;
}

.login-container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 15px -3px #AEAEAE;
    box-shadow: 0px 6px 15px -3px #AEAEAE;
    width: 400px;
    margin-top: 20px; /* marge tussen afbeelding  inlogcontainer */
}

.login-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    text-align: left;
}

.form-input {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-inlog {
    background-color: #2776EA;
    color: white;
    text-decoration: none;
    border: none;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 115px;
}

.button-inlog:hover {
    background-color: #3498db;
}

.register-link {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
}